<header class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <%= for item <- JidoHubWeb.Menus.items(:public) do %>
          <li><a href={item.to}>{item.label}</a></li>
        <% end %>
      </ul>
    </div>
    <a href={~p"/"} class="btn btn-ghost text-xl gap-2">
      <.icon name="hero-rocket-launch" class="w-6 h-6" /> JidoHub
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <%= for item <- JidoHubWeb.Menus.items(:public) do %>
        <li><a href={item.to}>{item.label}</a></li>
      <% end %>
    </ul>
  </div>

  <div class="navbar-end gap-2">
    <a href={~p"/signup"} class="btn btn-ghost">Register</a>
    <a href={~p"/login"} class="btn btn-primary">Login</a>
  </div>
</header>

<main>
  <.flash_group flash={@flash} />
  {@inner_content}
</main>

<footer class="footer footer-center p-10 bg-base-200 text-base-content">
  <aside>
    <p class="font-bold">JidoHub</p>
    <p>Copyright © {Date.utc_today().year} - All rights reserved</p>
  </aside>
</footer>
